<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Street View split-map-panes</title>
    <link rel="stylesheet" type="text/css" href="../css/map/style.css" />
    <script type="module" src="../js/map/index.js"></script>
</head>
<body>
<div id="container">
    <div id="pano"></div>
    <div id="map"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initialize&libraries=places,geometry" defer></script>
</body>
</html>



